$brand-background: #f2f2f2 !default;

$brand-primary:	#0098d1 !default;

$brand-alternate: #076d93 !default;

$brand-info: #73adc2 !default;

$brand-warning: #404040 !default; /*#00baff*/

$brand-danger: #00394e !default;