// Stylling the box
.modal-content {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

//Styling some inner elements
.modal {
	h3, .modal-title {margin-top: 0;}
	p {margin-bottom: $padding-large-vertical;} 
	.modal-checkbox {margin-right: 4px;}
	
	.modal-header {
		padding: 20px 30px 0 30px;
		border: none;
	}
	.modal-body, .modal-footer {
		padding: 0px 30px 20px 30px;
		border: none;
	}
}

.modal {
	&.static {
		z-index: 1;
	}
}

.modal-open {
	.modal {
		display: block;
	}
}