#map {width: 100%;}

//hiding google maps's logo and buttons
a[href^="http://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span {display:none;}
.gmnoprint div {background:none !important;}

.map-label-home, .map-label, .map-mini-markers{
     color: $brand-danger;
     font-family: $font-family-base;
     font-size: $font-size-small;
     font-weight: bold;
     line-height: 1.1;
     white-space: nowrap;
}
.map-mini-markers{
     text-align: center;
     width: 300px;
}

.map-label {
     text-align: right;
     width: 170px;
     .map-label-city {
          overflow: hidden;
          display: inline-block;
          max-width: 135px;
          margin-top: 1px;
     }
     .map-label-title {
     	display: inline-block;
     	margin-right: 13px;
          max-width: 135px;
          text-overflow: ellipsis;
          text-shadow: 1px 1px 1px $light;
     }
     .map-label-country {
     	color: $gray;
     	text-transform: uppercase;
     	font-weight: normal;
          font-size: 0.9em;
          text-shadow: 1px 1px 1px $light;
     }
     .map-marker-days {
     	color: $light;
     	font-size: $font-size-base;
     	font-family: $font-family-base;
     	line-height: 0.8;
     	height: 30px;
     	right: 4px;
	     top: 0px;
     	position: relative;
     	width: 21px;
     	text-align: center;
     	display: inline-block;
     	span {font-size: 10px;}
     }
   }

// .map-label-home {
//      text-align: center;
//      width: 170px;
//      .map-label-city {
//           overflow: hidden;
//           // display: inline-block;
//           // max-width: 135px;
//           margin-top: 1px;
//      }
// }


// ========== Custom sizes ==========
//targeting all admin-dmc pages, add specific page classes to body to speficy
.admin-dmc { #map, #map_en, #map_es {height: 300px;} }
.user-front { 
     #map, #map_en, #map_es {
          height: 300px;
          }
     .loading-slider-home #map{
          display: none;
          }
     }
.home, .request-landing { #map {height: 378px;} }
.request-flow { #map {height: 561px;} }