<div class="padded-l">
    <a class="close" ng-click="showbreakdown=false" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
    <h4>Program</h4>
    <table class="table table-striped table-hover text-graydark">
        <thead>
            <tr>
                <td>Room</td>
                <td>Count</td>
                <td>Paxes</td>
                <td>Net (P/Romm)</td>
                <td>PVP (P/Romm)</td>
                <td>PVPAAvv (P/Romm)</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="dmcresponse.rooms.single.quantity > 0">
                <td>single</td>
                <td>{{ dmcresponse.rooms.single.quantity}}</td>
                <td>1</td>
                <td>
                    <strong>{{ dmcresponse.rooms.single.pricePerPax.value}} {{ dmcresponse.rooms.single.pricePerPax.currency.symbol }}</strong>
                    <label ng-show="dmcresponse.rooms.single.pricePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.single.pricePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
                <td>
                    <strong>{{ dmcresponse.rooms.single.amountPricePerPax.value }} {{ dmcresponse.rooms.single.amountPricePerPax.currency.symbol  }}</strong>
                    <label ng-show="dmcresponse.rooms.single.amountpricePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.single.amountpricePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
                <td>
                    <strong>{{ dmcresponse.rooms.single.pvpAffiliatePerPax.value }} {{ dmcresponse.rooms.single.pvpAffiliatePerPax.currency.symbol  }}</strong>
                    <label ng-show="dmcresponse.rooms.single.pvpAffiliatePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.single.pvpAffiliatePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
            </tr>
            <tr ng-if="dmcresponse.rooms.double.quantity > 0">
                <td>double</td>
                <td>{{ dmcresponse.rooms.double.quantity}}</td>
                <td>{{ dmcresponse.rooms.double.quantity * 2 }}</td>
                <td>
                    <strong>{{ dmcresponse.rooms.double.pricePerPax.value}} {{ dmcresponse.rooms.double.pricePerPax.currency.symbol }}</strong>
                    <label ng-show="dmcresponse.rooms.double.pricePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.double.pricePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
                <td>
                    <strong>{{ dmcresponse.rooms.double.amountPricePerPax.value }} {{ dmcresponse.rooms.double.amountPricePerPax.currency.symbol  }}</strong>
                    <label ng-show="dmcresponse.rooms.double.amountPricePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.double.amountPricePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
                <td>
                    <strong>{{ dmcresponse.rooms.double.pvpAffiliatePerPax.value }} {{ dmcresponse.rooms.double.pvpAffiliatePerPax.currency.symbol  }}</strong>
                    <label ng-show="dmcresponse.rooms.double.pvpAffiliatePerPax.currency.value != 'EUR'"> / <strong>{{ exchangeValue(dmcresponse.rooms.double.pvpAffiliatePerPax.value, dmcresponse.amount.currency.value, 'EUR')  | number : 0}}</strong> €</label>
                </td>
            </tr>
            <tr ng-if="dmcresponse.rooms.triple.quantity > 0">
                <td>triple</td>
                <td>{{ dmcresponse.rooms.triple.quantity}}</td>
                <td>{{ dmcresponse.rooms.triple.quantity * 3 }}</td>
                <td><strong>{{ dmcresponse.rooms.triple.pricePerPax.value}} {{ dmcresponse.rooms.triple.pricePerPax.currency.symbol }}</strong></td>
                <td><strong>{{ dmcresponse.rooms.triple.amountPricePerPax.value }} {{ dmcresponse.rooms.triple.amountPricePerPax.currency.symbol  }}</strong></td>
                <td><strong>{{ dmcresponse.rooms.triple.pvpAffiliatePerPax.value }} {{ dmcresponse.rooms.triple.pvpAffiliatePerPax.currency.symbol  }}</strong></td>
            </tr>
            <tr ng-if="dmcresponse.rooms.quad.quantity > 0">
                <td>{{ dmcresponse.rooms.quad.quantity * 4 }}/td>
                <td>{{ dmcresponse.rooms.quad.quantity}}</td>
                <td>4</td>
                <td><strong>{{ dmcresponse.rooms.quad.pricePerPax.value}} {{ dmcresponse.rooms.quad.pricePerPax.currency.symbol }}</strong></td>
                <td><strong>{{ dmcresponse.rooms.quad.amountPricePerPax.value }} {{ dmcresponse.rooms.quad.amountPricePerPax.currency.symbol  }}</strong></td>
                <td><strong>{{ dmcresponse.rooms.quad.pvpAffiliatePerPax.value }} {{ dmcresponse.rooms.quad.pvpAffiliatePerPax.currency.symbol  }}</strong></td>
            </tr>
        </tbody>
    </table>
    <h4>Traveler Sense</h4>
    <table class="table table-striped table-hover text-graydark">
        
        <thead>
            <tr>
                <td>Neto</td>
                <td>Comission</td>
                <td>PVP</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ dmcresponse.netPrice.value}} {{ dmcresponse.netPrice.currency.symbol }}</td>
                <td>{{ dmcresponse.comission  }} %</td>
                <td><strong>{{ dmcresponse.amount.value }} {{ dmcresponse.amount.currency.symbol  }}</strong></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h4>DMC</h4>
    <table class="table table-striped table-hover text-graydark">

        <thead>
            <tr>
                <td>Neto</td>
                <td>Comission</td>
                <td>PVP</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>{{ dmcresponse.netPrice.value}} {{ dmcresponse.netPrice.currency.symbol }}</strong></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h4 ng-if="dmcresponse.affiliate != null">Agencia</h4>
    <table ng-if="dmcresponse.affiliate != null" class="table table-striped table-hover text-graydark">
        <thead>
            <tr>
                <td>Neto</td>
                <td>Fee</td>
                <td>PVP</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ dmcresponse.amount.value}} {{ dmcresponse.amount.currency.symbol }}</td>
                <td ng-if="userquery.group != null && userquery.group.adults!= null && userquery.group.adults > 0">{{ dmcresponse.fees.groups }}</td>
                <td ng-if="userquery.group == null">{{ dmcresponse.fees.tailormade }}</td>
                <td><strong>{{ dmcresponse.pvpAffiliate.value}} {{ dmcresponse.pvpAffiliate.currency.symbol }}</strong></td>
            </tr>
        </tbody>
    </table>

</div>