<div class="dropdown item-icon pull-left" uib-dropdown ng-if="sessionswitcher.enabled">
    <a ng-show="!sessionswitcher.active && sessionswitcher.candidate != null" target="_self" ng-click="switchtoaffiliate()" href="/auth/redirectsession?slug={{ sessionswitcher.candidate.slug }}&redirectto={{ sessionswitcher.redirectto }}" data-toggle="dropdown" class="nav-dd nots dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-eye"></i> Ver como: {{ sessionswitcher.candidate.company.name }}
    </a>
    <a ng-show="sessionswitcher.active" target="_self" ng-click="switchtoadmin()" href="/auth/switchadmin?redirectto={{ sessionswitcher.redirectto }}" data-toggle="dropdown" class="nav-dd nots dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-eye"></i> Volver a Admin
    </a>
    <!--<ul class="dropdown-menu uib-dropdown-menu padded-xxl" style="width:400px;">
        <li>
            <h4>Configuracion notificaciones</h4>
            <div class="row">
                <div class="col-md-1">
                    <input type="checkbox" ng-model="shownotifications" />
                </div>
                <div class="col-md-11">
                    mostrar notificaciones
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input type="checkbox" ng-model="activatesounds" />
                </div>
                <div class="col-md-11">
                    activar sonidos
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    Temas: <br />
                    <div class="checkbox" ng-repeat="subject in subjects">
                        <label>
                            <input title="" type="checkbox"
                                   checklist-model="selectedsubjects"
                                   checklist-value="subject" ,
                                   ng-click="subjectschanged()"
                                   value="{{ subject }}"> {{ subject }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <button class="btn btn-success btn-small" ng-click="showlastone()">mostrar ultima notificacion</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-small" ng-click="savepreferences()">guardar</button>
                </div>
            </div>
        </li>
    </ul>-->

</div>