//Logos
.omt-logo, .b2b-logo {
	display: block;
	height: 17px;
	width: 160px;
	
	background-position: center center;
	background-repeat: no-repeat;
	span {display: none;}
}
.omt-logo{
	height: 17px;
	width: 160px;
	margin: 10px 20px;
}
.b2b-logo {
	height: 25px;
	width: 129px;
	margin: 8px 10px;
}
//logo cases
.user-front {
	.omt-logo {
		background-image: url($b2c-logo-header-url);
		@include image-2x($b2c-logo-header-urlx2, 160px, 17px);
		@media(max-width: $screen-xs-max) {
			height: 13px;
			width: 120px;
			background-image: url($b2c-logo-header-url);
			background-size: 120px;
			@include image-2x($b2c-logo-header-urlx2, 120px, 13px);
		}		
	}
	.b2b-logo {
		display: none;
	}
}
.admin-dmc {
	.b2b-logo {
		background-image: url($b2b-logo-header-dark-url);	
		@include image-2x($b2b-logo-header-dark-urlx2, 160px, 18px);
		@media(max-width: $screen-xs-max) {
			height: 13px;
			width: 120px;
			background-image: url($b2b-logo-header-dark-url);
			background-size: 120px;
			@include image-2x($b2b-logo-header-dark-urlx2, 120px, 13px);
		}		
	}
	.omt-logo {
		background-image: url($b2c-logo-header-dark-url);	
		@include image-2x($b2c-logo-header-dark-urlx2, 160px, 18px);
		@media(max-width: $screen-xs-max) {
			height: 13px;
			width: 120px;
			background-image: url($b2c-logo-header-dark-url);
			background-size: 120px;
			@include image-2x($b2c-logo-header-dark-urlx2, 120px, 13px);
		}		
	}
	.nav-phone, .h3-padded-nav {
		color: $light;
		a {
			color: $light;
			&:hover {
				color: darken($light, 10%);
			}
		}
	}
}
// Default navbar
.navbar-default {
  background-color: $light;
  box-shadow: 0px 0px 3px $gray-dark;
  .dropdown.open {background-color: $almost-light;}
}


//hover userfront nav dropdowns
.user-front .navbar-header {
	.dropdown .nav-dd {
		color: $gray;
		@extend .trans-xs;
		&:hover {background-color: $gray-lighter!important;}
	}
	.dropdown.open {background-color: $gray-lighter!important;}	
}


.admin-dmc .navbar-header {
	.dropdown .nav-dd {
		color: $light;
		&:hover {color: $almost-light!important; background-color: $brand-alternate-dark!important;}
	}
	.dropdown.open {background-color: $brand-alternate-dark!important;}	
}

// Inverse navbar
.navbar-inverse {
	box-shadow: none;
}

// .navbar-brand {
// 	img {@media (max-width: $screen-xs-max) {width: 120px!important;}}
// }

//adapting toggle button to both styles
.navbar-default {
	.navbar-toggle {
		border: none;
		background-color: transparent!important;
		span {background-color: $brand-primary!important;}
		&:hover {
			span {background-color: $brand-alternate!important;}
		}
	}
}

.admin-dmc {
	.navbar-toggle {span {background-color: $light!important;}
		&:hover {span {background-color: $gray-lighter-low!important;}}
	}
	.nav li {
		@media (max-width: $screen-sm-max) {@include border(bottom, $brand-alternate-dark);}
	}
}

.user-related {
	@media (max-width: $screen-md) {margin-right: 0!important;}
	&.duplicate {@media (max-width: $screen-sm-max) {padding-right: $padding-large-horizontal;}}
}

//border radius for avatar img
.navbar-right {
	.item-image img {border-radius: 30px;}
}

//navbarlink padding
.navbar-link {
	margin-right: $padding-large-horizontal;
}

.reg-link{
	cursor : pointer !important;
}

//popover must have smallest font
.nav {
	.popover-content {
		font-size: $font-size-xs!important;	
	}
}


//navbar dropdowns for notifications and user purposes
.navbar > .container {position: relative;}
.navbar-dropdowns {
	.nav-dd {
		display: inline-block;
		min-height: $navbar-height;
		min-width: $navbar-height;
		margin: 0!important;
		padding: 6px;
		text-align: center;
		img {border-radius: 30px; @extend .avatarb36;}
		&.nots {
			padding: 12px 14px;
			font-size: $font-size-h3;
			.badge {position: absolute; top: 10px; right: 10px;}
		}
	}
	//not a dropdown, pero como si lo fuera
	.nav-phone {
		@media(max-width: $screen-xs-max) {
		padding: 13px;
		font-size: 19px;
		}
		@media(min-width: $screen-sm-min) {
			padding: 10px 15px;
  			line-height: 30px;
		}
	}	
	@media (min-width: $screen-sm-max) {
		position: absolute;
		right: 0; top: 0;
	}
}

.translate-navbar{
	// position: absolute;
	top: 40px;
}

.showsubmenu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

//mobile nav separators and margin
@media (max-width: $screen-md) {
	.navbar-nav {margin: 0 -15px;}
	.nav li {border-bottom: 1px solid $gray-lighter-low;}
}

// columns dropdown
// 
.dropdown-menu {
	.row{
		width: 510px;
	}
	ul>li>a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-computed;
		color: $dropdown-link-color;
		white-space: nowrap;
		&:hover{
			color: $dropdown-link-hover-color;
			text-decoration: none;
			background-color: $dropdown-link-hover-bg;
		}
	}

}
