<h4>Programs shortcuts: </h4>
<div ng-controller="shortcutPrograms">
    <div class="row mb-l">
        <div class="col-md-3" title="Selecciona un DMC para cargar un programa nuevo">
            <a href="/edit/programs" class="btn btn-primary" 
               target="_self">
                <i class="fa fa-plane"></i> accede a la carga de programas
            </a>
        </div>
        <div class="col-md-9">
            <!--<span>Selecciona un DMC y carga un nuevo programa</span>-->
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-3" title="Selecciona un DMC y un programa para copiar sobre uno nuevo">
            <a href="" class="btn btn-success" 
               ng-click="triggeraction('copy_program')">
                <i class="fa fa-copy"></i> copiar programa
            </a>
        </div>
        <div class="col-md-9">
        </div>
    </div>-->
</div>
<hr />
<h4>Members shortcuts: </h4>
<div>
    <div class="row mb-l">
        <div class="col-md-3" title="Añade un nuevo proveedor a la plataforma">
            <a href="/suppliers-signup" class="btn btn-primary"
               target="_self">
                <i class="fa fa-user-secret"></i> nuevo DMC
            </a>
        </div>
        <div class="col-md-9">
            <!--<span>Selecciona un DMC y carga un nuevo programa</span>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" title="Añade una nueva agencia a la plataforma">
            <a href="/registro" class="btn btn-success"
               target="_self">
                <i class="fa fa-user"></i> nuevo affiliado
            </a>
        </div>
        <div class="col-md-9">
            <!--<span>Selecciona un DMC y un programa para copiar sobre uno nuevo</span>-->
        </div>
    </div>
</div>