<nav class="subnav col-md-12" ng-controller="shortcutPrograms">
    <div class="main">
        <a href="" class="btn btn-invert" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
        <a ng-show="rolename=='admin'" href="" class="btn" ng-class="{ 'btn-success' : activebuttons.environment.b2b, 'btn-invert': !activebuttons.environment.b2b }" 
           ng-click="triggeraction('new_program')">
            <i class="fa fa-list"></i> new program
        </a>
        <a ng-show="rolename=='dmc'" class="btn" ng-class="{ 'btn-success' : activebuttons.environment.b2b, 'btn-invert': !activebuttons.environment.b2b }" 
           href="{{dmcurlnewprogram}}" ng-href="dmcurlnewprogram" target="_blank">
            <i class="fa fa-list"></i> new program
        </a>
        <a href="" class="btn" ng-class="{ 'btn-success' : activebuttons.environment.b2c, 'btn-invert': !activebuttons.environment.b2c }" 
           ng-click="triggeraction('copy_program')">
            <i class="fa fa-check"></i> copy a program
        </a>
    </div>
</nav>