<div class="booking-search mb-xxl bg-light padded-xl well pull-right col-md-12 col-sm-12" ng-controller="filterDMCs">
    <div class="row">
        <!--datebooking COL -->
        <div class="col-md-2 col-sm-2 line-right">
            
        </div>
        <!-- datebooking col ends -->
        <!--datetour COL -->
        <div class="col-md-1 col-sm-1 line-right">
            
        </div>
        <div class="col-md-2 col-sm-2 line-right">
            
        </div>
        <!-- datetour col ends -->
        <div class="col-md-3 col-sm-3 line-right" style="">
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="input-group mb-l full-width">
                <label class="control-label" for="arrivaldate">Búsqueda de texto</label>
                <input class="form-control" id="arrivaldate" ng-model="textSearch" type="text" value="">
            </div>
            <p class="help-block mt-xs mb-xs">Busca por: localizador yourttoo, tu expediente, pasajero/s o destino.</p>
            <button type="button" class="btn bnt-block mt-b btn-primary full-width" ng-click="textsearch()"><i class="fa fa-search"></i> buscar</button>
        </div>
    </div>
</div>