<div class="booking-search mb-xxl bg-light padded-xl well pull-right col-md-12 col-sm-12" ng-show="rolename=='admin'" ng-controller="filterDatesAndLikeDMCAFFISelector">
    <div class="row">
        <div class="col-md-12">
            <small class="pull-right mb-l">
                <a href="" ng-click="cleanandrefresh()">
                    limpiar filtros
                </a>
            </small>
        </div>
    </div>
    <div class="row">
        <!--datebooking COL -->
        <div class="col-md-2 col-sm-2 line-right">
            <form name="datebooking">
                <div class="form-group mb-l" ng-class="{'has-error' : !datebooking.bookingdatestart.$pristine && !datebooking.bookingdatestart.$valid && datebooking.bookingdatestart.$viewValue != '' && datebooking.bookingdatestart.$touched}">
                    <label class="control-label" for="bookingdatestart">Fecha de creación <strong>desde</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="bookingdatestart"
                               name="bookingdatestart"
                               uib-datepicker-popup="{{format}}"
                               ng-model="bookingdatestart"
                               is-open="opened1"
                               ng-change="dateSearchBooking()"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha de creación desde"
                               max-date="bookingdateend"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened1')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-l" ng-class="{'has-error' : !datebooking.bookingdateend.$pristine && !datebooking.bookingdateend.$valid && datebooking.bookingdateend.$viewValue != '' && datebooking.bookingdateend.$touched}">
                    <label class="control-label" for="bookingdateend">Fecha de creación <strong>hasta</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="bookingdateend"
                               name="bookingdateend"
                               uib-datepicker-popup="{{format}}"
                               ng-model="bookingdateend"
                               is-open="opened2"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title=">Fecha de creación hasta"
                               ng-change="dateSearchBooking()"
                               init-date="bookingdatestart"
                               min-date="bookingdatestart"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened2')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- datebooking col ends -->
        <!--datetour COL -->
        <div class="col-md-2 col-sm-2 line-right">
            <form name="datetour">
                <div class="form-group mb-l" ng-class="{'has-error' : !datetour.tourdatestart.$pristine && !datetour.tourdatestart.$valid && datetour.tourdatestart.$viewValue != '' && datetour.tourdatestart.$touched}">
                    <label class="control-label" for="tourdatestart">Fecha de salida <strong>desde</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="tourdatestart"
                               name="tourdatestart"
                               uib-datepicker-popup="{{format}}"
                               ng-model="tourdatestart"
                               is-open="opened3"
                               ng-change="dateSearchTour()"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha de salida desde"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened3')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-l" ng-class="{'has-error' : !datetour.tourdateend.$pristine && !datetour.tourdateend.$valid && datetour.tourdateend.$viewValue != '' && datetour.tourdateend.$touched}">
                    <label class="control-label" for="tourdateend">Fecha salida <strong>hasta</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="tourdateend"
                               name="tourdateend"
                               uib-datepicker-popup="{{format}}"
                               ng-model="tourdateend"
                               is-open="opened4"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha salida hasta"
                               ng-change="dateSearchTour()"
                               init-date="tourdatestart"
                               min-date="tourdatestart"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened4')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- datetour col ends -->

        <div class="col-md-3 col-sm-3 line-right">
            <label class="control-label" for="bookingdatestart"><strong>Affiliates</strong> ({{selectedFilters.selectedaffiliates.length}})</label>
            <div id="filterDMCS" class="collapse in" style="max-height: 148px; overflow-y: scroll;">
                <div class="checkbox" ng-repeat="affi in selectedFilters.affiliates">
                    <label>
                        <input title="" type="checkbox"
                               checklist-model="selectedFilters.selectedaffiliates"
                               checklist-value="affi" ,
                               ng-click="filterchanged()"
                               value="{{ affi._id }}"> {{ affi.company.name || affi.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 line-right">
            <label class="control-label" for="bookingdatestart"><strong>DMCs</strong> ({{selectedFilters.selecteddmcs.length}})</label>
            <div id="filterDMCS" class="collapse in" style="max-height: 148px; overflow-y: scroll;">
                <div class="checkbox" ng-repeat="dmc in selectedFilters.dmcs">
                    <label>
                        <input title="" type="checkbox"
                               checklist-model="selectedFilters.selecteddmcs"
                               checklist-value="dmc" ,
                               ng-click="filterchanged()"
                               value="{{ dmc._id }}"> {{ dmc.company.name || dmc.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="input-group mb-l full-width">
                <label class="control-label" for="arrivaldate">Búsqueda de texto</label>
                <input class="form-control" id="arrivaldate" ng-model="textSearch" type="text" value="">
            </div>
            <p class="help-block mt-xs mb-xs">Busca por: localizador yourttoo, tu expediente, pasajero/s o destino.</p>
            <button type="button" class="btn bnt-block mt-b btn-primary full-width" ng-click="textsearch()"><i class="fa fa-search"></i> buscar</button>
        </div>
    </div>
</div>

<div class="booking-search mb-xxl bg-light padded-xl well pull-right col-md-12 col-sm-12" ng-show="rolename!='admin'" ng-controller="filterDatesAndLikeDMCAFFISelector">
    <div class="row">
        <div class="col-md-12">
            <small class="pull-right mb-l">
                <a href="" ng-click="cleanandrefresh()">
                    limpiar filtros
                </a>
            </small>
        </div>
    </div>
    <div class="row">
        <!--datebooking COL -->
        <div class="col-md-4 col-sm-4 line-right">
            <form name="datebooking">
                <div class="form-group mb-l" ng-class="{'has-error' : !datebooking.bookingdatestart.$pristine && !datebooking.bookingdatestart.$valid && datebooking.bookingdatestart.$viewValue != '' && datebooking.bookingdatestart.$touched}">
                    <label class="control-label" for="bookingdatestart">Fecha de creación <strong>desde</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="bookingdatestart"
                               name="bookingdatestart"
                               uib-datepicker-popup="{{format}}"
                               ng-model="bookingdatestart"
                               is-open="opened1"
                               ng-change="dateSearchBooking()"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha de creación desde"
                               max-date="bookingdateend"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened1')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-l" ng-class="{'has-error' : !datebooking.bookingdateend.$pristine && !datebooking.bookingdateend.$valid && datebooking.bookingdateend.$viewValue != '' && datebooking.bookingdateend.$touched}">
                    <label class="control-label" for="bookingdateend">Fecha de creación <strong>hasta</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="bookingdateend"
                               name="bookingdateend"
                               uib-datepicker-popup="{{format}}"
                               ng-model="bookingdateend"
                               is-open="opened2"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title=">Fecha de creación hasta"
                               ng-change="dateSearchBooking()"
                               init-date="bookingdatestart"
                               min-date="bookingdatestart"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened2')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- datebooking col ends -->
        <!--datetour COL -->
        <div class="col-md-4 col-sm-4 line-right">
            <form name="datetour">
                <div class="form-group mb-l" ng-class="{'has-error' : !datetour.tourdatestart.$pristine && !datetour.tourdatestart.$valid && datetour.tourdatestart.$viewValue != '' && datetour.tourdatestart.$touched}">
                    <label class="control-label" for="tourdatestart">Fecha de salida <strong>desde</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="tourdatestart"
                               name="tourdatestart"
                               uib-datepicker-popup="{{format}}"
                               ng-model="tourdatestart"
                               is-open="opened3"
                               ng-change="dateSearchTour()"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha de salida desde"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened3')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-l" ng-class="{'has-error' : !datetour.tourdateend.$pristine && !datetour.tourdateend.$valid && datetour.tourdateend.$viewValue != '' && datetour.tourdateend.$touched}">
                    <label class="control-label" for="tourdateend">Fecha salida <strong>hasta</strong></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="tourdateend"
                               name="tourdateend"
                               uib-datepicker-popup="{{format}}"
                               ng-model="tourdateend"
                               is-open="opened4"
                               show-button-bar="false"
                               ng-required="true"
                               close-text="cerrar"
                               title="Fecha salida hasta"
                               ng-change="dateSearchTour()"
                               init-date="tourdatestart"
                               min-date="tourdatestart"
                               placeholder="dd-mm-aaaa"
                               starting-day="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open($event, 'opened4')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- datetour col ends -->


        <div class="col-md-4 col-sm-12">
            <div class="input-group mb-l full-width">
                <label class="control-label" for="arrivaldate">Búsqueda de texto</label>
                <input class="form-control" id="arrivaldate" ng-model="textSearch" type="text" value="">
            </div>
            <p class="help-block mt-xs mb-xs">Busca por: localizador yourttoo, tu expediente, pasajero/s o destino.</p>
            <button type="button" class="btn bnt-block mt-b btn-primary full-width" ng-click="textsearch()"><i class="fa fa-search"></i> buscar</button>
        </div>
    </div>
</div>